<div class="d-flex align-items-center justify-content-between mb-3">
  <h1 class="h3 mb-0">Registros Mensuales</h1>
  <%= link_to "Nuevo", new_monthly_record_path, class: "btn btn-primary" %>
</div>

<%= render "filter_form" %>
<%= render "table" %>

<div class="row mt-0">
  <!-- Gráfico global stacked (Recepción, Tiempo, Soplado, Uso Jetin, Servicios, Despacho) -->
  <div class="col-12 col-lg-6">
    <%= render "chart_lines_all" %>
  </div>

  <!-- Gráfico de líneas (Nomina, HH, dp, actp, astp, iap, acreditacion, salud, actividades) -->
  <div class="col-12 col-lg-6">
     <%= render "charts_stacked" %>
  </div>




</div>











<% if @breakdown.present? %>
  <div class="row g-3 mt-0">
    <div class="col-12">
      <%= render "chart_donut" %>
    </div>
  </div>


<% end %>
