<div id="<%= dom_id estado_equipo %>">
  <div>
    <strong>Equipo principal:</strong>
    <%= estado_equipo.equipo_principal %>
  </div>

  <div>
    <strong>Equipo:</strong>
    <%= estado_equipo.equipo %>
  </div>

  <div>
    <strong>Estado cinta:</strong>
    <%= estado_equipo.estado_cinta %>
  </div>

  <div>
    <strong>Estado motor:</strong>
    <%= estado_equipo.estado_motor %>
  </div>

  <div>
    <strong>Estado polines:</strong>
    <%= estado_equipo.estado_polines %>
  </div>

  <div>
    <strong>Estado ruedas:</strong>
    <%= estado_equipo.estado_ruedas %>
  </div>

  <div>
    <strong>Estado capachos:</strong>
    <%= estado_equipo.estado_capachos %>
  </div>

  <div>
    <strong>Estado sistema aire:</strong>
    <%= estado_equipo.estado_sistema_aire %>
  </div>

  <div>
    <strong>Estado filtro:</strong>
    <%= estado_equipo.estado_filtro %>
  </div>

  <div>
    <strong>Estado estructura:</strong>
    <%= estado_equipo.estado_estructura %>
  </div>

  <div>
    <strong>Estado lubricacion:</strong>
    <%= estado_equipo.estado_lubricacion %>
  </div>

  <div>
    <strong>Estado limpieza:</strong>
    <%= estado_equipo.estado_limpieza %>
  </div>

  <div>
    <strong>Comentarios:</strong>
    <%= estado_equipo.comentarios %>
  </div>

</div>
