<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <%= link_to "Impromaq", root_path, class: "navbar-brand", data: { turbo: false } %>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto">

        <!-- Menú OTs -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle <%= 'active' if controller_name == 'ots' %>"
            href="#"
            id="otsDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            OTs
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="otsDropdown">
            <li>
              <%= link_to "OTs", ots_path, class: "dropdown-item", data: { turbo: false } %>
            </li>
            <li>
              <%= link_to "Compacta", compact_ots_path, class: "dropdown-item", data: { turbo: false } %>
            </li>
            <li>
              <%= link_to "Gráficos", graficos_ots_path, class: "dropdown-item", data: { turbo: false } %>
            </li>
            <li>
              <%= link_to "Backlog", backlog_ots_path, class: "dropdown-item", data: { turbo: false } %>
            </li>
          </ul>
        </li>

        <!-- Menú Reportes -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle <%= 'active' if controller_name == 'works' %>"
            href="#"
            id="worksDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Reportes
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="worksDropdown">
            <li>
              <%= link_to "Reportes", works_path, class: "dropdown-item", data: { turbo: false } %>
            </li>
            <li>
              <%= link_to "Nuevo", new_work_path, class: "dropdown-item", data: { turbo: false } %>
            </li>

            <% if main_app.respond_to?(:compact_works_path) %>
              <li>
                <%= link_to "Compacta", compact_works_path, class: "dropdown-item", data: { turbo: false } %>
              </li>
            <% end %>

            <% if main_app.respond_to?(:graficos_works_path) %>
              <li>
                <%= link_to "Gráficos", graficos_works_path, class: "dropdown-item", data: { turbo: false } %>
              </li>
            <% end %>

            <% if main_app.respond_to?(:backlog_works_path) %>
              <li>
                <%= link_to "Backlog", backlog_works_path, class: "dropdown-item", data: { turbo: false } %>
              </li>
            <% end %>
          </ul>
        </li>

        <!-- Indicadores -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle <%= 'active' if %w[monthly_records indicator_readings people].include?(controller_name) || current_page?(monthly_records_path) %>"
            href="#"
            id="indicadoresDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Indicadores
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="indicadoresDropdown">
            <li>
              <%= link_to "Registros Mensuales",
                          monthly_records_path,
                          class: "dropdown-item #{'active' if current_page?(monthly_records_path)}",
                          data: { turbo: false } %>
            </li>
            <li>
              <%= link_to "Indicadores particulares",
                          indicator_readings_path,
                          class: "dropdown-item #{'active' if controller_name == 'indicator_readings'}",
                          data: { turbo: false } %>
            </li>
            <li>
              <%= link_to "Personas",
                          people_path,
                          class: "dropdown-item #{'active' if controller_name == 'people'}",
                          data: { turbo: false } %>
            </li>
          </ul>
        </li>
           <!-- Menú DEnvasadora -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="demoDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Envasadora
            </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="demoDropdown">
              <li>
                <%= link_to "Enfundado", enfundados_path, class: "dropdown-item", data: { turbo: false } %>
              </li>
              
            </ul>
          </li>
        <!-- Menú Demo -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="demoDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Demo
            </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="demoDropdown">
              <li>
                <%= link_to "Metodo", estado_equipos_path, class: "dropdown-item", data: { turbo: false } %>
              </li>
              <li>
                <%= link_to "Reporte", reporte_equipos_estado_equipos_path, class: "dropdown-item", data: { turbo: false } %>
              </li>
            </ul>
          </li>

      </ul>
    </div>
  </div>
</nav>