<div id="<%= dom_id ot %>">
  <p>
    <strong>Semana:</strong>
    <%= ot.semana %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= ot.item %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= ot.area %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= ot.codigo %>
  </p>

  <p>
    <strong>Actividad semanal:</strong>
    <%= ot.actividad_semanal %>
  </p>

  <p>
    <strong>Esp:</strong>
    <%= ot.esp %>
  </p>

  <p>
    <strong>Frecuencia:</strong>
    <%= ot.frecuencia %>
  </p>

  <p>
    <strong>Cod rep:</strong>
    <%= ot.cod_rep %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= ot.cantidad %>
  </p>

  <p>
    <strong>Unitario:</strong>
    <%= ot.unitario %>
  </p>

  <p>
    <strong>Servicio:</strong>
    <%= ot.servicio %>
  </p>

  <p>
    <strong>Cotizacion:</strong>
    <%= ot.cotizacion %>
  </p>

  <p>
    <strong>Cc:</strong>
    <%= ot.cc %>
  </p>

  <p>
    <strong>Responsable:</strong>
    <%= ot.responsable %>
  </p>

  <p>
    <strong>Contratista:</strong>
    <%= ot.contratista %>
  </p>

  <p>
    <strong>Tipo ot:</strong>
    <%= ot.tipo_ot %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= ot.estado %>
  </p>

  <p>
    <strong>Sem ejec:</strong>
    <%= ot.sem_ejec %>
  </p>

  <p>
    <strong>N personas:</strong>
    <%= ot.n_personas %>
  </p>

  <p>
    <strong>Duracion hr:</strong>
    <%= ot.duracion_hr %>
  </p>

  <p>
    <strong>Hh:</strong>
    <%= ot.hh %>
  </p>

  <p>
    <strong>Causa:</strong>
    <%= ot.causa %>
  </p>

  <p>
    <strong>Comentarios:</strong>
    <%= ot.comentarios %>
  </p>

</div>
