<%# app/views/indicator_readings/index.html.erb %>
<div class="d-flex align-items-center justify-content-between mb-3">
  <h1 class="h3 mb-0">Lecturas</h1>
  <div class="d-flex gap-2">
    <%= link_to "Planilla", matrix_indicator_readings_path, class: "btn btn-outline-primary" %>
    <%= link_to "Nueva lectura", new_indicator_reading_path, class: "btn btn-primary" %>
  </div>
</div>

<%= render "filters", people: @people %>

<div class="table-responsive">
  <%= render "table", readings: @readings %>
</div>

<div class="row g-3 mt-2">
  <div class="col-12">
    <%= render "chart_trend",
          labels:   @trend_labels,
          datasets: @trend_datasets %>
  </div>

  <div class="col-12">
    <%= render "chart_avg_people",
          labels:   @avg_people_labels,
          datasets: @avg_people_datasets %>
  </div>

  <div class="col-12">
    <%= render "chart_plants",
          labels:   @plants_labels,
          datasets: @plants_datasets,
          month:    @month %>
  </div>

<div class="col-12 col-lg-6">
    <%= render "donut_card",
      id: "donut_cumpl_mayo",
      title: "Cumplimiento plan mayo",
      cumple: 97 %>

     
  </div>

<div class="col-12 col-lg-6">
<%= render "pie_card",
      id: "pie_hallazgos_agosto",
      title: "Hallazgos Agosto",
      labels: [
        "Seguimiento herramientas de gestión preventiva",
        "Desviaciones en el uso de EPP y subsitios",
        "Debilidades de comunicación e información efectiva"
      ],
      data: [50, 37.5, 12.5] %>

</div>





  <% if @month.present? %>
    <div class="col-12">
      <%= render "chart_bars",
            labels:   @bar_labels,
            datasets: @bar_datasets,
            month:    @month %>
    </div>
  <% end %>





</div>
